<div class="home-page">
    <div class="navbar">
      <ion-header>
        <ion-row>
            <ion-col size="12" size-xs>
              <div>
                  <ion-icon name="ios-arrow-back" color="light"></ion-icon>
              </div>
            </ion-col>
          
            <ion-col size="12" size-xs class="watch-align">
              <div>
                <ion-datetime displayFormat="HH:mm" min="1997" max="2019" value="{{ date }}"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
        </ion-header>
    </div>
    
    <div class="content category">
      <ion-content>
        <ion-row class="video-prop">
            <mat-video title="Bahubali" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" poster="image.jpg">
                <source matVideoSource src="./assets/videos/1.mp4" type="video/mp4">
                <source src="tutorial.webm" type="video/webm">
                <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
                <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
              </mat-video>
              <img src="./assets/backw.png" (click)="onBackward()" class="forward">
              <img src="./assets/forw.png" (click)="onForward()" class="forward" />
        </ion-row>
      </ion-content>
      
    </div>
</div>
<div class = "footer">
    <ion-text>Refer to GCB page</ion-text>
</div>
  
